*{
  margin: 0%;
  padding: 0%;
}

/* navbar */
.navbar{
  height: 30px;
  padding: 10px;
  background-color: #ab47bc;
  color: red;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  color: white;
  margin-right: 20px;
  list-style: none;
  cursor: pointer;

}

.news-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.progress{
  width: fit-content;
  margin: auto;
  margin-top: 30vh;
}
/* footer */
.footer{
  background-color: red;
  height: 20px;
}